<f:comment><!--

    @param Event event          Event

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{event.page}">
        <f:then>
            <f:link.page pageUid="{event.page.uid}">
                <f:render section="LinkText" arguments="{event: event}"/>
            </f:link.page>
        </f:then>
        <f:else>
            <f:link.action action="show" pageUid="{settings.events.details}" arguments="{event: event}">
                <f:render section="LinkText" arguments="{event: event}"/>
            </f:link.action>
        </f:else>
    </f:if>

    <f:comment><!--

        Render the event link text

        @param Event event          Event

    --></f:comment>
    <f:section name="LinkText">
        {event.name}, {event.eventStart -> f:format.date(format: 'r')}
    </f:section>
</html>
