<f:comment><!--

    Render the default event tickets

    @param Event event              Current event

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{event.coverage}">
        <section id="coverage" class="Event__coverage">
            <base:heading
                content="{f:translate(key: 'LLL:EXT:tw_events/Resources/Private/Language/locallang.xlf:event.heading.coverage')}">
                <ul class="Event__coverage-list">
                    <f:for each="{event.coverage}" as="coverage">
                        <li>
                            <f:switch expression="{coverage.type}">
                                <f:case value="0">
                                    <f:render partial="Coverage/Photos" arguments="{coverage: coverage}"/>
                                </f:case>
                                <f:case value="1">
                                    <f:render partial="Coverage/Post" arguments="{coverage: coverage}"/>
                                </f:case>
                                <f:case value="2">
                                    <f:render partial="Coverage/Tweet" arguments="{coverage: coverage}"/>
                                </f:case>
                                <f:case value="3">
                                    <f:render partial="Coverage/Video" arguments="{coverage: coverage}"/>
                                </f:case>
                                <f:case value="4">
                                    <f:render partial="Coverage/Talk" arguments="{coverage: coverage}"/>
                                </f:case>
                            </f:switch>
                        </li>
                    </f:for>
                </ul>
            </base:heading>
        </section>
    </f:if>
</html>
