<f:comment><!--

    Render the default event location

    @param Event event              Current event

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <section id="location" class="Event__location">
        <base:heading
            content="{f:translate(key: 'LLL:EXT:tw_events/Resources/Private/Language/locallang.xlf:event.heading.location')}">
            <f:render partial="Location/Single"
                      arguments="{location: event.location, description: event.locationDescription}"/>
        </base:heading>
    </section>
</html>
