<f:comment><!--

    Render the default event performers

    @param Event event              Current event

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:alias map="{performers: event.performers}">
        <f:if condition="{performers}">
            <section id="performers" class="Event__performers">
                <base:heading
                    content="{f:translate(key: 'LLL:EXT:tw_events/Resources/Private/Language/locallang.xlf:event.heading.performers')}">
                    <f:render partial="Person/List" arguments="{
                            settings: '{details: \'{teaser: 1}\'}',
                            persons: performers,
                            listId: 'performer-persons',
                            personItemProp: 'performer'
                        }"/>
                </base:heading>
            </section>
        </f:if>
    </f:alias>
</html>
