<f:comment><!--

    @param Location location            Location

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <address class="Location__address p-adr h-adr">
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <div class="Location__street-address p-street-address" itemprop="streetAddress">{location.streetAddress}</div>
            <div><span class="Location__postal-code p-postal-code" itemprop="postalCode">{location.postalCode}</span> <span
                class="Location__locality p-locality" itemprop="addressLocality">{location.locality}</span>
                <span class="hide">,
                        <f:if condition="{location.region}">
                            <span class="Location__region p-region" itemprop="addressRegion">{location.region}</span>
                        </f:if>
                        <span class="Location__country p-country" itemprop="addressCountry">{location.country.shortNameEn}</span>
                    </span>
            </div>
        </div>
        <div class="hide" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <span class="Location__latitude p-latitude" itemprop="latitude">{location.latitude}</span>
            <span class="Location__longitude p-longitude" itemprop="longitude">{location.longitude}</span>
        </div>
    </address>
</html>
