<f:comment><!--

    @param Event[] events   Events

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{events}">
        <f:then>
            <f:render partial="Event/List" arguments="{events: events}"/>
        </f:then>
        <f:else>
            <p>
                <f:switch expression="{settings.selection_mode}">
                    <f:case value="categories">
                        <f:translate key="events.none.categories"/>
                    </f:case>
                    <f:case value="manual">
                        <f:translate key="events.none.manual"/>
                    </f:case>
                    <f:case value="date">
                        <f:if condition="{settings.date} == 'future'">
                            <f:then>
                                <f:translate key="events.none.date.future"/>
                            </f:then>
                            <f:else>
                                <f:translate key="events.none.date.past"/>
                            </f:else>
                        </f:if>
                    </f:case>
                </f:switch>
            </p>
        </f:else>
    </f:if>
</html>
