.icon {
    background: url("icons/icons.svg") no-repeat;
}

.icon-Coverage {
    background-position: 0 0;
}

.icon-Coverage-dims {
    width: 576px;
    height: 512px;
}

.icon-Event {
    background-position: 0 20%;
}

.icon-Event-dims {
    width: 448px;
    height: 512px;
}

.icon-Organization {
    background-position: 0 40%;
}

.icon-Organization-dims {
    width: 448px;
    height: 512px;
}

.icon-Person {
    background-position: 0 60%;
}

.icon-Person-dims {
    width: 448px;
    height: 512px;
}

.icon-Presentation {
    background-position: 0 80%;
}

.icon-Presentation-dims {
    width: 576px;
    height: 512px;
}

.icon-Sponsor {
    background-position: 0 100%;
}

.icon-Sponsor-dims {
    width: 640px;
    height: 512px;
}

