.icon {
	background: url("icons/icons.svg") no-repeat;
}

.icon-Coverage {
	background-position: 0 0;
}

.icon-Coverage-dims {
	width: 576px;
	height: 512px;
}

.icon-Event {
	background-position: 0 16.666666666666668%;
}

.icon-Event-dims {
	width: 448px;
	height: 512px;
}

.icon-Note {
	background-position: 0 33.333333333333336%;
}

.icon-Note-dims {
	width: 384px;
	height: 512px;
}

.icon-Organization {
	background-position: 0 50%;
}

.icon-Organization-dims {
	width: 448px;
	height: 512px;
}

.icon-Person {
	background-position: 0 66.66666666666667%;
}

.icon-Person-dims {
	width: 448px;
	height: 512px;
}

.icon-Presentation {
	background-position: 0 83.33333333333333%;
}

.icon-Presentation-dims {
	width: 576px;
	height: 512px;
}

.icon-Sponsor {
	background-position: 0 100%;
}

.icon-Sponsor-dims {
	width: 640px;
	height: 512px;
}

